/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    cursor: auto;
    position: relative;
    border-radius: 20px;
    padding: 50px;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

.about-img {
    height: 25%;
    width:25% ;
    border: 5px rgb(60, 32, 105) solid;
    border-radius: 50%;
}

.name {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 10px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.icons {
    margin-bottom: 10px;
}

.icons > img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;

}

.content-holder > button {
    width: 160px;
    color: white;
    background-color: #3f6eca;
    border-radius: 10px;
    margin: 0px 10px;
     outline:none;
    
}
button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;

  }

.content-holder > button:hover {
    background-color: #2e5ab3;
}
/* Popup box BEGIN */



